<div class="row">
	<div class="col-md-12 col-lg-12">
		<form class="form-inline">
			<div class="form-group">
				<label class="sr-only" for="txtUser">User</label> 
				<input type="email" class="form-control" id="txtUser" placeholder="User" ng-model="userDto.user">
			</div>
			<div class="form-group">
				<label class="sr-only" for="txtPwd">Password</label>
				<input type="password" class="form-control"	id="txtPwd" placeholder="Password" ng-model="userDto.password">
			</div>
			<div class="form-group">
				<label class="sr-only" for="txtRepeatPwd">Password</label>
				<input type="password" class="form-control"	id="txtRepeatPwd" placeholder="Password" ng-model="repeatPass">
			</div>
			
			<button class="btn btn-default" ng-disabled="checkRepeat()">Register</button>
		</form>
	</div>
</div>