
<div class="row">
	<div class="col-md-12">
		<form>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group"> 
						<input type="text" class="form-control" id="txtTitle" placeholder="Titulo del relato" ng-model="objRelato.titulo">
					</div>
				</div>
				
			</div>
			<div class="row">
				<div class="col-md-12">
					<textarea class="form-control" rows="20" ng-model="objRelato.texto" placeholder="Texto del relato"></textarea>
				</div>
			</div>
		</form>
	</div>
</div>